.calc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #8b3d78;
  height: 600px;
  width: 450px;
  margin: 5pc 10pc 10pc 15pc;
  padding: 2pc 1pc 1pc 1pc;
}
.calc-button-row {
  display: flex;
  margin: 0pc 0pc 1pc 0pc;
  padding: 1pc -1pc 1pc -1pc;
  justify-content: space-between;
}

.calc-button {
  background-color: #e691c7;
  padding: 2pc 2pc 2pc 2pc;
  /* text-align: inherit; */
  /* background-color: #d8d9db; */
  font-size: 20px;
  width: 24.5%;
  border: none;
}

.calc-button:active {
  background-color: #f6e2f5;
}

.double {
  width: 49.7%;
}

.triple {
  width: 74.8%;
} 

.screen {
  background-color: #550445;
  border: none;
  color: white;
  padding: 2pc;
  margin: 0pc 0pc 1pc 0pc;
  text-align: end;
  font-size: 20px;
}
