.box {
  width: 100px;
  height: 100px;
  background-color: #0074d9;
  border-radius: 50%;

}

.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
